.section-cta {
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;

    background-image: url(../img/main/cta-bg.jpeg);
    background-position: center;
    background-size: cover;
    

    &::before {
        @extend %overlay; }

        /*Tablet MD*/
        @media(max-width: 1600px) {
            background-image: url(../img/main/cta-bg-1600.jpeg);
        }

        /*Tablet*/
        @media(max-width: 1199px) {
            padding-top: 40px;
            padding-bottom: 40px;
            background-image: url(../img/main/cta-bg-900.jpeg);
        }

        /*Mobile*/
        @media(max-width: 899px) {
            background-image: url(../img/main/cta-bg-600.jpeg);
        }

        /*XS Mobile*/
        @media(max-width: 599px) {
            background-image: url(../img/main/cta-bg-320.jpeg);
        }


}
.section-cta__content {
    position: relative;
    z-index: 9;
    text-align: center;
    color: rgb(255, 255, 255);
}

.section-cta__title {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;

    span {
        text-transform: uppercase;
        font-weight: 700;
    }

    /*Mobile*/
    @media(max-width: 899px) {
        margin-bottom: 30px;
        font-size: 20px;
    }

    /*XS Mobile*/
    @media(max-width: 599px) {
        margin-bottom: 20px;
        font-size: 18px;
    }
}


